<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head>
        <title th:text="${title}"></title>
    </head>
<body>
<h2 th:text="${title}"></h2>
<div>
    <tbody>
    <tr>
    <tr th:each="entry : ${posts}">
        <td th:text="${entry.id}"></td>
        <td th:text="${entry.lead}"></td>
        <td th:text="${entry.body}"></td>
        <td th:text="${entry.author}">
        <td th:text="${entry.date}">


        </td>


    </tr>
    </tbody>


</div>
</body>
</html>